<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/master.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/javascript/master.js">

    </script>
    <meta charset="utf-8">
    <title><%= @title %></title>
  </head>
  <body>
    <%= erb(:'partials/navigation', :layout => false) %>
    <div class="main_section">
      <%= yield %>
    </div>
  </body>
</html>
